section.limits-budgets.large-padding
  h2 Limits and budgets
  p Customizable strictness of limits on your different accounts allow you to treat yourself from time to time while being very practical in general
