section.reg
  h2.reg__title - I want it already!
  P.reg__text We now gathetring a group of willing beta-testers and you can be one of them. Just leave us your name and email and we’ll contact you as soon as possible
  form.reg__form
    fieldset
      label(for="name") Full name
      input#name(type="text" placeholder="Ivan Ivanov" required)
    fieldset
      label(for="email") Email
      input#email(type="text" placeholder="example@gmail.com" required)
    button(type="submit") Sign up
