footer.footer
  nav.footer__nav
    a.footer__link(href="#") Legal
    a.footer__link(href="#") Privacy policy
    a.footer__link(href="#") Terms of use
  a(href="#") We're hiring!
  small Copyright &copy; 2020 Smart Tracker Inc.
