doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Iphone app
    link(rel="stylesheet" href="index.min.css")
  body
    main
      include scrolling-img/scrolling-img.pug
      include info/info.pug
      include date/date.pug
      include reg/reg.pug
